.bts-image {
  border-radius: 3px;
  width: 250px;
  margin-left: 15%;
  margin-bottom: 1.5rem;
  @media (min-width: 481px) {
    /* margin-left: 30%; */
    margin-bottom: 2rem;
  }
}

.bts-video {
  width: 45%;
  margin-left: 20%;
  margin-bottom: 1.5rem;
  @media (min-width: 481px) {
    /* margin-left: 30%; */
    margin-bottom: 2rem;
  }
}
