.bts-video {
  width: 45%;
  margin-left: 20%;
  margin-bottom: 1.5rem;
  @media (min-width: 481px) {
    margin-bottom: 2rem;
  }
}

.bts-container {
  width: 250px;
  height: 350px;
  margin: 0 auto;
  margin-left: 15%;
  margin-bottom: 4.5rem;
  @media (min-width: 961px) {
    margin-left: 10%;
  }
}

/* make a duplicate of this CSS class and make these changes with as few
changes as possible with object-fill: cover, object-fill: unset, object-fit: unset, etc*/

.bts-object-fill {
  object-fit: fill;
}

.bts-object-cover {
  object-fit: cover;
}

.bts-wrapper-1 {
  box-shadow: 2px 4px 32px #d7b8ec;
  border-radius: 3px;
  width: 100%;
  height: 100%;

  @media (min-width: 481px) {
    margin-bottom: 2rem;
  }
}

.bts-wrapper-2 {
  box-shadow: 2px 4px 32px #8256d0;
  border-radius: 3px;
  width: 100%;
  height: 100%;

  @media (min-width: 481px) {
    margin-bottom: 2rem;
  }
}
