.bts-card-margin {
  margin: 0 auto;
  margin-left: 15%;
  margin-bottom: 4.5rem;

  @media (--tablet) {
    margin-left: 7%;
  }

  @media (--sm-desktop) {
    margin-left: 10%;
  }

  @media (--desktop){
    margin-left: 5.5%;
  }

  @media (--lg-desktop) {
    padding-left: 3.5%;
  }
}

.bts-shadow-light-purple {
  box-shadow: 2px 4px 32px #d7b8ec;
}

.bts-shadow-dark-purple {
  box-shadow: 2px 4px 32px #8256d0;
}
