.brand-circle {
  width: 15rem;
  margin-top: 0.3rem;
  margin-bottom: 1.5rem;
  flex: 0 0 50%;
  box-sizing: border-box;
}

.brand-image {
  border-radius: 50%;
  width: 300px;
  height: 300px;
  margin-left: 11%;
  border: 7px #610ad1 solid;
  margin-bottom: 1.5rem;
  object-fit: fill;
  @media (min-width: 961px) {
    margin-left: 25%;
  }
}
