.insta-logo {
  font-size: 3.5rem;
  color: #e1446a;
}

.mail-logo {
  font-size: 3.5rem;
  color: #1d96f1;
}

.whatsapp-logo {
  font-size: 3rem;
  color: #53ed71;
}

.icon-group {
  display: flex;
  justify-content: space-evenly;
  margin-top: 3rem;
  margin-bottom: 1.5rem;
  @media (--sm-desktop) {
    margin-top: 4.5rem;
  }
}

.link-column-full {
  flex-basis: 100%;
}

.text-margin-bottom {
  margin-bottom: 1rem;
}

.flex-dir-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 0.5rem;
}

.circle-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  background-color: whitesmoke;
  border-radius: 32px;

  @media (--sm-desktop) {
    background-color: #080808;
    border: 3px solid #fbfbfb;
  }
}

em {
  text-decoration: underline;
}

.footer-h2 {
  font-size: 2.3rem;
  @media (--tablet) {
    font-size: 2.8rem;
  }
}

.contact-footer,
.FAQ-footer,
.gallery-footer {
  font-size: 1.8rem;
  font-weight: 400;
  text-decoration: underline;
  color: whitesmoke;
}

.footer-flex-row {
  display: flex;
  flex-direction: column;

  @media (--sm-desktop) {
    flex-direction: row;
  }
}

.copyright-column-full {
  flex-basis: 100%;
}

.copyright-text {
  padding-top: 0.5rem;
  text-align: center;
  font-size: 0.8rem;
  color: #fbfbfb;

  @media (--tablet) {
    font-size: 1rem;
  }

  @media (--sm-desktop) {
    font-size: 1.2rem;
  }

  @media (--desktop) {
    font-size: 1.5rem;
  }
}
