.insta-logo {
  font-size: 3.5rem;
  color: #e1446a;
}

.mail-logo {
  font-size: 3.5rem;
  color: #1d96f1;
}

.whatsapp-logo {
  font-size: 3rem;
  color: #53ed71;
}

.link-group {
  display: flex;
  justify-content: space-evenly;
}

.circle-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  background-color: whitesmoke;
  border-radius: 32px;
}

.copyright-footer {
  /* font-size: 1.2rem;
  padding-top: 0.5rem;
  display: block;
  text-align: center; */
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 0.5rem;
  font-size: 0.8rem;

  /* @media (--tablet) {
    font-size: 1.9rem;
  }

  @media (--bp-sm-desktop) {
    font-size: 3rem;
  }

  @media (--bp-desktop) {
    font-size: 3rem;
  }

  @media (--bp-lg-desktop) {
    font-size: 3.9rem;
  } */
}

@media (--tablet) {
  .copyright-footer {
    font-size: 1.9rem;
  }
}

@media (--bp-sm-desktop) {
  .copyright-footer {
    font-size: 3rem;
  }
}

@media (--bp-desktop) {
  .copyright-footer {
    font-size: 6rem;
  }
}

@media (--bp-lg-desktop) {
  .copyright-footer {
    font-size: 2.3rem;
  }
}

em {
  text-decoration: underline;
}

.footer-h2 {
  font-size: 2.8rem;
}

.footer-row {
  display: flex;
  justify-content: center;
}

.contact-button,
.FAQ-button,
.gallery-button {
  width: 4rem;
  height: 1rem;
  color: whitesmoke;
  font-size: 1.6rem;
  padding-bottom: 1.9rem;
  display: flex;
  justify-content: center;
}
