.gallery-image {
  width: 250px;
  height: 350px;
  margin: 0 auto;
  margin-bottom: 4rem;

  @media (--sm-desktop) {
    margin-left: 5%;
  }
}

.gallery-image-wrapper-1 {
  box-shadow: 2px 4px 32px #d7b8ec;
  border-radius: 3px;
  transition: transform 0.3s;
  animation: spin 7s linear 7s;
  animation-iteration-count: 1;
}

.gallery-image-wrapper-2 {
  box-shadow: 2px 4px 32px #900fbf;
  border-radius: 3px;
  transition: transform 0.3s;
  animation: spin 7.5s linear 7s;
  animation-iteration-count: 1;

  @media (--desktop) {
    margin-left: 30%;
    margin-bottom: 2rem;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg) scale(1);
  }
  25% {
    transform: rotate(720deg) scale(1.6);
  }
  75% {
    transform: rotate(-360deg) scale(1.01);
  }
}
