h2 {
  font-size: 1.5rem;
}

.gallery-image {
  display: flex;
  justify-content: center;
  border-radius: 3px;
  width: 250px;
  margin-left: 20%;
  margin-bottom: 1.5rem;
  transition: transform 0.3s;
  animation: shake 3s linear 7s;
  animation-iteration-count: 3;
  /* animation: name duration timing-function delay iteration-count direction fill-mode; */
  @media (min-width: 480px) {
    margin-left: 30%;
    margin-bottom: 2rem;
  }
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(4deg);
  }
  75% {
    transform: rotate(-4deg);
  }
}

.purple-bkgd-1 {
  /* top: 3%; */
  /* right: 18%; */
  width: 275px;
  /* height: 325px; */
  /* margin-right: 8%; */
  padding-top: 8%;
  /* padding-bottom: 8%; */
  background-color: #6208d0;
}

.purple-bkgd-2 {
  /* top: 3%; */
  /* right: 18%; */
  width: 275px;
  /* height: 325px; */
  /* margin-right: 8%; */
  /* padding-top: 8%; */
  /* padding-bottom: 8%; */
  background-color: #6208d0;
}
