.hamburger-menu {
  font-size: 3.1rem;
  display: flex;
  background: none;
  border: none;
  align-items: center;
  padding-left: 12px;
  width: 100%;
  cursor: pointer;
  @media (--tablet) {
    font-size: 5rem;
  }
}

.navBarHeader {
  background-color: #900fbf;
  color: #fbfbfb;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.nav-column-full {
  display: flex;
  justify-content: center;
  flex-basis: 100%;
  font-family: oswald;
}

.aboutMe-link,
.home-link,
.services-link,
.testimonials-link,
.contact-link {
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.5rem;
  padding-left: 0.8rem;
  text-decoration: none;
  overflow: hidden;
  @media (--tablet) {
    font-size: 2rem;
  }
}

.aboutMe-link:hover,
.home-link:hover,
.services-link:hover,
.testimonials-link:hover,
.contact-link:hover {
  text-decoration: underline;
  color: #fbfbfb;
}

.allLinks {
  padding: 0 12px;
  max-height: 0;
  overflow: hidden;
  background-color: #900fbf;
  border-bottom: 8px solid white;
  transform: translateY(-20px);
  opacity: 0;
  transition:
    max-height 0.9s ease-in-out,
    padding 0.3s ease-in-out,
    transform 0.5s ease-in-out,
    opacity 0.5s ease-in-out;
  color: white;

  @media (--tablet) {
    padding-left: 15%;
  }

  @media (--sm-desktop) {
    padding-left: 25%;
  }

  @media (--lg-desktop) {
    padding-left: 40%;
  }
}

.allLinks.open {
  transform: translateY(0);
  opacity: 1;
  padding: 12px;
  max-height: 500px;
}
