.h2 {
  font-family: oswald;
  font-size: 3.1rem;
  display: flex;
  justify-content: space-evenly;
  @media (min-width: 481px) {
    font-size: 5rem;
  }
}

.navBarHeader {
  background-color: #610ad1;
  /* original color is 610ad1*/
  /* background-color: #900fbf; */
  /* background-color: #ebcff8; */
  /* background-color: #996cb7; */
  /* background-color: #8256d0; */
  /* background-color: #e0a3f8; */
  /* background-color: #d7b8ec; */
  color: #fbfbfb;
  /* width: 100%; */
  padding-top: 1rem;
  padding-bottom: 1rem;
  /* display: flex; */
  /* justify-content: space-evenly; */
  @media (min-width: 961px) {
    /* display: flex; */
    /* justify-content: space-evenly; */
  }
}

h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Dancing Script', cursive;
  color: #fbfbfb;
  @media (min-width: 481px) {
    font-size: 5rem;
  }
}

.nav-row {
  display: flex;
}

.nav-column-full {
  display: flex;
  justify-content: center;
  flex-basis: 100%;
  font-family: oswald;
  font-size: 3.1rem;
  @media (min-width: 481px) {
    font-size: 5rem;
  }
}

.nav-column-quarter {
  flex-basis: 5%;
}

.aboutMe-link,
.home-link,
.testimonials-link,
.contact-link {
  /* color: #610AD1; */
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.5rem;
  padding-left: 0.8rem;

  overflow: hidden;
  @media (min-width: 481px) {
    font-size: 2rem;
  }
}

.allLinks {
  padding: 0 12px;
  max-height: 0;
  overflow: hidden;
  background-color: #610ad1;
  border-bottom: 8px solid white;
  transform: translateY(-20px);
  opacity: 0;
  transition:
    max-height 0.9s ease-in-out,
    padding 0.3s ease-in-out,
    transform 0.5s ease-in-out,
    opacity 0.5s ease-in-out;
  color: white;
  @media (min-width: 481px) {
    padding-left: 25%;
  }
}

.allLinks.open {
  transform: translateY(0);
  opacity: 1;
  padding: 12px;
  max-height: 500px;
}
