.image-container {
  width: 250px;
  height: 350px;
  margin: 0 auto;
  /* margin-left: 10%; */
  margin-left: 15%;
  margin-bottom: 4rem;
}

/* write the css for the card hover (flip) here */

.image-object-cover {
  object-fit: cover;
}

.image-object-fill {
  object-fit: fill;
}

.image-wrapper-1 {
  box-shadow: 2px 4px 32px #610ad1;
  border-radius: 3px;
  width: 100%;
  height: 100%;

  @media (min-width: 481px) {
    /* margin-left: 30%; */
    margin-bottom: 2rem;
  }
}

.image-wrapper-2 {
  box-shadow: 2px 4px 32px #900fbf;
  border-radius: 3px;
  width: 100%;
  height: 100%;

  @media (min-width: 481px) {
    /* margin-left: 30%; */
    margin-bottom: 2rem;
  }
}

.style-highlights-fade-in {
  opacity: 1;
  transform: translateY(0);
  transition:
    opacity 1.3s ease-out,
    transform 1.5s ease-out;
}

.style-highlights-hidden {
  opacity: 0;
  transform: translateY(100px);
}
