.object-position-top {
  object-position: top;
}

.styleHighlights-card-margin {
  margin: 0 auto;
  margin-bottom: 4.5rem;

  @media (--tablet) {
    margin-left: 7%;
  }

  @media (--sm-desktop) {
    margin-left: 10%;
  }

  @media (--desktop) {
    margin-left: 15%;
  }

  @media (--lg-desktop){
    padding-left: 3%;
  }
}

.styleHighlights-shade-dark {
  box-shadow: 2px 4px 32px #610ad1;
}

.styleHighlights-shade-light {
  box-shadow: 2px 4px 32px #900fbf;
}
