.workWMe-header {
  display: flex;
  color: #fbfbfb;
  font-family: 'Dancing Script', cursive;
  justify-content: center;
  font-size: 5rem;
}

.workWMe-row {
  @media (min-width: 481px) {
    display: flex;
  }
}

.workWMe-column-half {
  @media (min-width: 481px) {
    flex-basis: 50%;
  }
}

.second-header {
  display: flex;
  justify-content: center;
  padding-top: 1.5rem;
}

.form-container {
  max-width: 1200px;
}

.form-button-column-full {
  flex-basis: 100%;
}

.form-submit-button {
  background-color: #610ad1;
  color: #fbfbfb;
  transition: transform 0.4s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem;
  width: 12rem;
  height: 4rem;
  font-size: 2rem;
  border-radius: 3rem;
  cursor: pointer;
}

.form-submit-button:hover {
  color: #610ad1;
  background-color: #fbfbfb;
}

.input-field {
  width: 22rem;
  height: 1.5rem;
  margin-bottom: 1.5rem;
  font-size: 1.3rem;
  @media (min-width: 481px) {
    font-size: 1.4rem;
    height: 3rem;
  }
}

.phone-number-label {
  /* padding-left: 22rem; */

  @media (min-width: 961px) {
    padding-left: 24%;
  }
}

label {
  font-size: 1.2rem;
  @media (min-width: 481px) {
    font-size: 2rem;
  }
}

.form-error {
  color: darkred;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 4rem;
  margin-top: 1rem;
  text-align: center;
}
