.imGio-header {
  font-size: 3.5rem;
  color: #fbfbfb;
  display: flex;
  justify-content: center;
  @media (min-width: 481px) {
    font-size: 3.5rem;
  }
}

.imGio-header-2 {
  font-size: 2.7rem;
  color: #fbfbfb;
  display: flex;
  justify-content: center;
  @media (min-width: 481px) {
    font-size: 3.5rem;
  }
}

.about-row {
  display: flex;
}

.about-column-full {
  flex-basis: 100%;
}

.about-button-center {
  display: flex;
  justify-content: center;
}

.about-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #610ad1;
  color: white;
  width: 15rem;
  height: 5rem;
  font-size: 1.4rem;
  border-radius: 3rem;
  text-decoration: none;
  margin-top: 10%;
  margin-bottom: 10%;
  cursor: pointer;
  @media (min-width: 961px) {
    margin-top: 5%;
  }
}

.about-button:hover {
  transition-property: unset;
  background-color: white;
  color: #610ad1;
}

.aboutMe-image {
  height: 700px;
  border-radius: 12px;
}

.aboutMe-imageWrapper {
  width: 100%;
  padding-top: 3rem;
  display: flex;
  justify-content: center;
}

.about-container {
  margin: 0 auto;
  max-width: 370px;
  font-size: 1.3rem;
  @media (min-width: 481px) {
    max-width: 1200px;
    font-size: 2rem;
  }
}
