.contactPage-container {
  /* @media (min-width: 320px) {
    max-width: 320px;
  } */

  @media (min-width: 961px) {
    max-width: 1700px;
    margin: 0 auto;
  }
}

.contact-row {
  @media (min-width: 481px) {
    display: flex;
  }
}

.stylist-image-container {
  /* flex-basis: 100%; */
  display: flex;
  justify-content: center;
  @media (min-width: 481px) {
    flex-basis: 50%;
  }
}

.contact-column-full {
  @media (min-width: 961px) {
    flex-basis: 100%;
  }
}

.contact-column-half {
  @media (min-width: 961px) {
    flex-basis: 50%;
  }
}

.contact-column-third {
  @media (min-width: 961px) {
    flex-basis: calc(100% / 3);
  }
}

.contact-gio-collazo-image {
  /* padding-top: 4rem; */
  /* padding-bottom: 4rem; */
  cursor: pointer;
  margin: 8px;
  height: 320px;
  border-radius: 8px;
  animation: wiggle 4s ease-in-out infinite;
  @media (min-width: 961px) {
    transition:
      transform 0.8s ease,
      box-shadow 0.8s ease;
    box-shadow:
      4px 4px #8720e8,
      -1em 0 0.5em gold;
  }
}

@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(3deg);
  }

  75% {
    transform: rotate(-3deg);
  }
}

.contact-gio-collazo-image:hover {
  animation: wiggle 4s ease-in-out infinite;
  /* transform: translateY(-1.5rem) scale(1.03) rotateZ(-1deg);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); */
}
