.contact-row {
  @media (min-width: 481px) {
    display: flex;
  }

  @media (--tablet) {
    display: block;
  }
}

.contact-gio-collazo-image {
  margin: 8px;
  height: 320px;
  border-radius: 8px;
  animation: wiggle 4s ease-in-out infinite;
  margin-top: 3rem;
  transition:
    transform 0.8s ease,
    box-shadow 0.8s ease;
  box-shadow:
    8px 8px #0287dd,
    -1em 0 0.5em #daa32a;
}

@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(3deg);
  }

  75% {
    transform: rotate(-3deg);
  }
}

.second-header {
  padding-bottom: 10%;
  font-size: 1.3rem;

  @media (--tablet) {
    font-size: 1.8rem;
    margin: 2.5rem;
    padding-bottom: 2rem;
  }

  @media (--sm-desktop) {
    font-size: 2rem;
  }
}
