.home-container {
  max-width: 100%;
  margin: 0 auto;
}

.home-row {
  @media (min-width: 961px) {
    display: flex;
  }
}

.home-column-third {
  max-width: 60%;
  justify-content: flex-start;
}

.home-image {
  display: flex;
  justify-content: center;
  border-radius: 3px;
  width: 250px;
  margin-left: 20%;
  margin-bottom: 1.5rem;
  transition: transform 0.3s;
  /* box-shadow:
    5px 5px #fbfbfb,
    -1em 0 0.4em #623295; */
  @media (min-width: 480px) {
    margin-left: 30%;
    margin-bottom: 2rem;
  }
}

.home-image:hover {
  transform: translateY(-1.2rem) scale(1.03) rotateZ(-3deg);
  box-shadow:
    5px 5px #fbfbfb,
    -1em 0 0.4em #623295;
}

.home-clients-styled {
  color: #fbfbfb;
  display: flex;
  justify-content: center;
}
