.home-container {
  max-width: 100%;
  margin: 0 auto;
}

.home-row {
  @media (min-width: 961px) {
    display: flex;
  }
}

.home-text {
  font-size: 1.4rem;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-optical-sizing: auto;
}

.home-column-third {
  max-width: 60%;
  justify-content: flex-start;
}

.home-column-full {
  flex-basis: 100%;
}

.home-GC-introduction {
  display: flex;
  justify-content: center;
}

.home-GC-mainCoverImage {
  display: flex;
  justify-content: center;
  width: 265px;
  margin-left: 18%;
  margin-bottom: 1.2rem;
  transition: transform 0.5s ease;
  border-radius: 8px;
  margin-top: 1.4rem;
  animation: breathe 4.5s ease-in-out infinite;
}

@keyframes breathe {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.08);
  }
}

.home-image-left {
  display: flex;
  justify-content: center;
  padding-right: 2.1rem;
  border-radius: 3px;
  width: 250px;
  margin-left: 20%;
  margin-bottom: 1.5rem;
  transition: transform 0.3s;
  @media (min-width: 480px) {
    margin-left: 30%;
    margin-bottom: 2rem;
  }
}

.home-image-left:hover {
  transform: translateY(-1.2rem) scale(1.03) rotateZ(-3deg);
}

.home-image-right {
  display: flex;
  justify-content: center;
  padding-left: 2.1rem;
  border-radius: 3px;
  width: 250px;
  margin-left: 20%;
  margin-bottom: 1.5rem;
  transition: transform 0.3s;
  @media (min-width: 480px) {
    margin-left: 30%;
    margin-bottom: 2rem;
  }
}

.home-image-right:hover {
  transform: translateY(-1.2rem) scale(1.03) rotateZ(3deg);
}

.home-clients-styled {
  color: #fbfbfb;
  display: flex;
  justify-content: center;
}

video {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.video-container {
  width: 80vw;
}

.brand-circle {
  width: 15rem;
  margin-top: 0.3rem;
  margin-bottom: 1.3rem;
}

/* .brand-image {
  border-radius: 50%;
  width: 100%;
  margin-left: 25%;
  border: 7px #610ad1 solid;
} */

.bts-video {
  width: 45%;
  margin-left: 20%;
  margin-bottom: 1.5rem;
  @media (min-width: 481px) {
    /* margin-left: 30%; */
    margin-bottom: 2rem;
  }
}

.learn-more {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #610ad1;
  color: white;
  width: 22rem;
  height: 6rem;
  font-size: 1.8rem;
  border-radius: 3rem;
  text-decoration: none;
  cursor: pointer;
  margin-top: 5rem;
  margin-left: 0.5rem;
}

.learn-more:hover {
  transition-property: unset;
  background-color: white;
  color: #610ad1;
}
