.home-container {
  max-width: 100%;
  margin: 0 auto;
}

.home-row {
  @media (min-width: 961px) {
    display: flex;
  }
}

.home-text {
  font-size: 1.5rem;
}

.home-column-third {
  max-width: 60%;
  justify-content: flex-start;
}

.home-column-full {
  flex-basis: 100%;
}

.home-GC-introduction {
  display: flex;
  justify-content: center;
}

.home-GC-mainCoverImage {
  display: flex;
  justify-content: center;
  width: 265px;
  margin-left: 18%;
  margin-bottom: 1.2rem;
  transition: transform 0.5s ease-in-out;
  border-radius: 8px;
}

.home-GC-mainCoverImage:hover {
  transform: scale(1.2);
}

.home-image-left {
  display: flex;
  justify-content: center;
  padding-right: 2.1rem;
  border-radius: 3px;
  width: 250px;
  margin-left: 20%;
  margin-bottom: 1.5rem;
  transition: transform 0.3s;
  @media (min-width: 480px) {
    margin-left: 30%;
    margin-bottom: 2rem;
  }
}

.home-image-left:hover {
  transform: translateY(-1.2rem) scale(1.03) rotateZ(-3deg);
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes shake {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(30%);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .home-image {
    animation: shake infinite 20s linear;
  }
}

.home-image-right {
  display: flex;
  justify-content: center;
  padding-left: 2.1rem;
  border-radius: 3px;
  width: 250px;
  margin-left: 20%;
  margin-bottom: 1.5rem;
  transition: transform 0.3s;
  @media (min-width: 480px) {
    margin-left: 30%;
    margin-bottom: 2rem;
  }
}

.home-image-right:hover {
  transform: translateY(-1.2rem) scale(1.03) rotateZ(3deg);
}

.home-clients-styled {
  color: #fbfbfb;
  display: flex;
  justify-content: center;
}
