.home-container {
  max-width: 100%;
  margin: 0 auto;
}

.home-row {
  @media (min-width: 961px) {
    display: flex;
  }
}

.home-text {
  font-size: 1.5rem;
}

.home-column-third {
  max-width: 60%;
  justify-content: flex-start;
}

.home-column-full {
  flex-basis: 100%;
}

.home-image-left {
  display: flex;
  justify-content: center;
  padding-right: 2.1rem;
  border-radius: 3px;
  width: 250px;
  margin-left: 20%;
  margin-bottom: 1.5rem;
  transition: transform 0.3s;
  /* box-shadow:
    5px 5px #fbfbfb,
    -1em 0 0.4em #623295; */
  @media (min-width: 480px) {
    margin-left: 30%;
    margin-bottom: 2rem;
  }
}

.home-GC-introduction {
  display: flex;
  justify-content: center;
}

.home-GC-mainCoverImage {
  display: flex;
  justify-content: center;
  width: 265px;
  margin-left: 20%;
  margin-bottom: 1.2rem;
  transition: transform 0.5s;
  padding-top: 1rem;
}

.home-GC-mainCoverImage:hover {
  transform: translateY(-1.1rem) scale(1.04);
  box-shadow:
    4px 4px #a37fbd,
    -1em 0 0.5em #a37fbd;
}

.home-image-left:hover {
  transform: translateY(-1.2rem) scale(1.03) rotateZ(-3deg);
  /* box-shadow:
    5px 5px #fbfbfb,
    -1em 0 0.4em #623295; */
}

.home-image-right {
  display: flex;
  justify-content: center;
  padding-left: 2.1rem;
  border-radius: 3px;
  width: 250px;
  margin-left: 20%;
  margin-bottom: 1.5rem;
  transition: transform 0.3s;
  /* box-shadow:
    5px 5px #fbfbfb,
    -1em 0 0.4em #623295; */
  @media (min-width: 480px) {
    margin-left: 30%;
    margin-bottom: 2rem;
  }
}

.home-image-right:hover {
  transform: translateY(-1.2rem) scale(1.03) rotateZ(3deg);
  /* box-shadow:
    5px 5px #fbfbfb,
    -1em 0 0.4em #623295; */
}
.home-clients-styled {
  color: #fbfbfb;
  display: flex;
  justify-content: center;
}
