.emoji-large {
  font-size: 1.7rem;
}

.service-headerMain {
  display: flex;
  justify-content: center;
  font-family: 'Dancing Script', cursive;
  font-size: 2.7rem;
}

.service-subheader {
  display: flex;
  justify-content: center;
  font-size: 2rem;
}

.book-session {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #610ad1;
  color: white;
  width: 15rem;
  height: 5rem;
  font-size: 1.4rem;
  border-radius: 3rem;
  text-decoration: none;
  margin-top: 15%;
  margin-bottom: 25%;
  cursor: pointer;
}

.book-session:hover {
  transition-property: unset;
  background-color: white;
  color: #610ad1;
}


h2 {
  color: white;
  font-size: 1.8rem;
}
