.bold-underline-text {
  text-decoration: underline;
  font-weight: bold;
  padding-left: 0.3rem;
  padding-right: 0.1rem;
}

.service-subheader {
  font-size: 2rem;

  @media (--tablet) {
    font-size: 4rem;
  }
}

.ext-service-subheader {
  font-size: 1.7rem;

  @media (--tablet) {
    font-size: 4rem;
  }
}

.services-button-margin {
  margin-top: 15%;
  margin-bottom: 25%;

  @media (--tablet) {
    margin-bottom: 10%;
  }

  @media (--sm-desktop) {
    margin-bottom: 15%;
  }
}
