h2 {
  font-size: 2.5rem;
  color: white;
}

.testimonial-row {
  display: flex;
  justify-content: center;
  /* remove justify content later, for now just testing */
}

.testimonial-column-full {
  flex-basis: 100%;
}

.testimonial-container {
  /* max-width: 90%; */
  margin-left: 5%;
  margin-right: 5%;
}

/* .image-width-wrapper {
  height: 250px;
} */

.testimonial-portrait-img {
  border-radius: 50px;
  border: 2px black solid;
  width: 100%;
  /* width: 250px; */
}
