.testimonials-header {
  font-size: 3.2rem;
  color: white;
}

@media (min-width: 961px) {
  .testimonial-row {
    display: flex;
    flex-direction: column;
  }
}

.testimonial-column-flex-end {
  flex-basis: 100%;
  display: flex;
  justify-content: center;
}

@media (min-width: 768px) {
  .testimonial-column-flex-end {
    justify-content: flex-end;
  }
}

.testimonial-column-flex-start {
  flex-basis: 100%;
  display: flex;
  justify-content: center;
}

@media (min-width: 768px) {
  .testimonial-column-flex-start {
    justify-content: flex-start;
  }
}

.testimonial-wrapper {
  width: 15rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.testimonial-portrait-img {
  width: 100%;
  border-radius: 50px;
  display: block;
  border: 2px black solid;
}

p {
  font-size: 1.2rem;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-optical-sizing: auto;
}
